
*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: WesternBangBang;
  src: url("Western Bang Bang.ttf");
}

html, body {
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 150%;
    color: #bbb;
    font-family: WesternBangBang;    
  }
  
body {
  padding: 25px;
  text-align: center;
  background-image: url("../images/dirt-background.jpg");
  width: 100%;
  margin: 0 auto;
}
  
#wrap {
  min-height: 100%;
}

#content-bg {
  /* overflow: auto; */
  position: relative;
  background-image: url("../images/50dark.png");
  margin: 0 auto;
  padding-bottom: 30px;
  height: 800px;
  width: 750px;
  border-radius: 25px;
  border-top-right-radius: 300px;
  border-top-left-radius: 300px;
  border: solid 5px #111;
}

h1 {
  font-family: Impact;
  font-size: 100px;
  font-weight: bold;
  color: black;
  height: 120px;
  text-shadow: -1px 0 rgb(255, 123, 0), 0 1px red, 1px 0 red, 0 -1px red;
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  z-index: -100;
}

h2 {  
  font-size: 120px;
  line-height: 120px;
  color: rgb(197, 93, 7);
  margin-top: 120px;
  height: 120px;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

#usedDisplay, #maskedWord, #alertDisplay {
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;  
  line-height: 75px;
  font-size: 50px;
}

#alertDisplay {
  color: rgb(219, 106, 13);
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 400px;
  background-image: url("../images/50dark.png");
  padding: 15px;
  height: 120px;
  width: 80%;
  font-size: 40px;
  margin: 0 auto;
  line-height: 40px;
  border-radius: 40px;
}

.hidden {
  display: none !important;
}

#lower-left, #lower-middle, #lower-right {
  position: absolute;
  bottom: 50px;
  height: 200px;

}

#lower-left {
  background-image: url("../images/50dark.png");
  border: solid 5px #111;  
  padding: 30px;
  width: 200px;
  left: 20px;
  font-size: 40px;
  line-height: 30px;
}

#vanillaRecord {
  font-size: 60px;
  margin-top: 35px;
}

#lower-middle {
  background-image: url("../images/50dark.png");
  border: solid 5px #111;  
  width: 250px;
  left: 245px;
  right: 0;
  font-size: 60px;
  padding: 40px;
  line-height: 40px;
  text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;  
}  

#lower-middle img {
  margin:-46px 0 0 -46px;
}

#lower-middle p {
  margin: 25px;
}

#lower-right {
  background-image: url("../images/50dark.png");
  border: solid 5px #111;  
  padding: 30px;
  width: 200px;
  right: 20px;
  font-size: 40px;
  line-height: 30px;
}

#hardcoreRecord {
  font-size: 60px;
  margin-top: 35px;  
}

#audio {
  height: 15px;
  font-family: Verdana;
  position: absolute;
  bottom: 10px;
  left: 10px;
  line-height: 15px;
  display: block;
}

#audioButton {
  border-radius: 50%;
  border: 2px #999 solid; 
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
}

.audioOn {
  background-color: #999;
}

@-webkit-keyframes swinging{
  0%{-webkit-transform: rotate(.25deg);}
  50%{-webkit-transform: rotate(-.25deg)}
  100%{-webkit-transform: rotate(.25deg);}
}

@keyframes swinging{
  0%{transform: rotate(1deg);}
  50%{transform: rotate(-1deg)}
  100%{transform: rotate(1deg);}
}

.swingimage{
  -webkit-transform-origin: 50% -1000px;
  transform-origin: 50% -1000px;
  -webkit-animation: swinging 7.5s ease-in-out forwards infinite;
  animation: swinging 7.5s ease-in-out forwards infinite;
}
 